<p class="footer ext-center text-muted">&copy; Copyright 2021 People of the KIET</p>
<center><a class="linkd" href="https://www.linkedin.com/in/anurag-panwar-3091801b4" target="_blank"> linkedin</a></center>
