<div class="nav header">
    <nav class="nav title "> <a class="nav newpgnav" href="/home">Home</a></nav>

     <nav class="nav title  "> <a class="nav newpgnav" href="/logout">logout</a>
    </nav>

    



</div>