@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;800&display=swap');


@import url('../node_modules/font-awesome/css/font-awesome.min.css');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;

}

body{
    background: #f2f1f0;
}

.nav {
    background-color: #24252A;
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}


.header {
    display: flex;
    justify-content: space-between;
}


.title {
    vertical-align: middle;
    padding: 1.7% 0;
}

li,
ul
 {
    display: inline-block;
    text-decoration: none;
    font-family: "Dosis", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #edf0f1;
}

h1 {
    
    
    display: inline-block;
    font-size: 100px;
    font-weight: 900;

  }

  h4 {
    font-family: "Dosis", sans-serif;

  }

.gg {
    margin-bottom: 4%;
    border: solid 6px black;
}

a{

    display: inline-block;
    text-decoration: none;

    
    font-size: 0.5em;
    
    font-weight: 700;
    color: black;
    }

a:visited {
    color: black;
}

a:hover,
button:hover {
    color: #909090;
    text-decoration: none;


}

a.newpgnav {
    color: #f2f1f0 ;
}

a.newpgnav:visited {
    color: #f2f1f0;
}



.addPG:hover {
    border: dashed 5px black;
    outline: none;
}

.addPG {
    
   font-size: 2.5em;
    margin: 0; 
    margin-left: 14%;
    margin-bottom: 2%;
    border: dotted 5px #f2f1f0;
    outline: none;
    height: 10%;
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    width: 70%;
    background: #f2f1f0 ;
}

.addPG:active,
.addPG:focus {
    outline: none;
}




.login {
    width: 30%;
}

.form{
    margin-top: 3%;
}

.pgdetails {
    width: 80%;
    margin: 3% auto;
}

.jumbotron {
    
    
    margin: 0;
    margin-bottom: 0;
}

.footer {
    background-color: white;
    
    height: 5%;
    width: 100%;
    text-align: center;
    z-index: 1;

    padding-bottom: 0;
}

.header {
    overflow: hidden;
    background-color:#24252A;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index:1; /*Add this*/
  }


  .lead {
      padding: 2% 2%;
  }


  p {
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 1.5em;
  }

  .home{
      margin-left: 2%;
  }

  .findpg{
      margin-left: 30%;
      margin-right: 30%;
      margin-top: 50px;
  }

  .pgdetails{
      margin-top: 12%;
      font-family: "Dosis", sans-serif;
    font-weight: 700;
    font-size: 1.5em;
  }


  .linkd {
      z-index: 2;
      color: #24252A;
      text-align: center;
      margin: 0 auto;
      align-self: center;
  }

  .newpgnav {
    color: #909090;
  }

  .logout {
      margin-left: 85%;
  }


  .btn {
      margin-top: 1%;
  }
  .btn1 {
      margin: auto 0;
  }

  .inp {
      margin: 0;
  }
 
  
