<%- include('../partials/headcss.ejs') %>

<body>


  <%- include('../partials/navbar.ejs') %>

  <h1 class="addr">
    address:
    <%= Usert[0].address1 %>
  </h1>


<%- include('../partials/footer.ejs') %>


</body>

</html>