<%- include('../partials/head.ejs') %>

<body>


<%- include('../partials/navbar.ejs') %>

    <form  action="/" method="POST">
        <button class="btn btn-light btn-lg btn-block addPG"> Add New...</button>
    </form>


 
<%- include('../partials/footer.ejs') %>
    
</body>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</html>