<%- include('../partials/head') %>

<body>


<%- include('../partials/navbar') %>

    <form  action="/" method="POST">
        <button class="btn btn-light btn-lg btn-block addPG"> Add New...</button>
    </form>


    <% for(var i=0  ; i< Usert.length ; i++){ %>
        <div class="container pgs">
            <p>Name: <%= Usert[i].ownerName %> </p>
        </div>
   <% } %>









 
<%- include('../partials/footer') %>
    
</body>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</html>