<%- include('../partials/head.ejs') %>

<body>


<%- include('../partials/navbar.ejs') %>

    
    <form action="/newPG" method="POST">
        <table>
            <tr><td><label for="Name">Name:</label></td>
                <td><input type="text"></td>
            </tr>
            <tr><td></td>
                <td></td>
            </tr>
            <tr><td></td>
                <td></td>
            </tr>
            <tr><td></td>
                <td></td>
            </tr>
            <tr><td></td>
                <td></td>
            </tr>
            <tr><td></td>
                <td></td>
            </tr>
        </table>
    </form>
<%- include('../partials/footer.ejs') %>


</body>
</html>