<%- include('../partials/head.ejs') %>

<body>


  <%- include('../partials/navbar.ejs') %>

  <div class="pgdetails">
    <form method="GET" action="/searchResults">

      
      




     
      

      
      
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="rooms">Minimum Number of Rooms Available</label>
          <input type="number" class="form-control" name="rooms" >
        </div>
        <div class="form-group col-md-3">
          <label for="kitchen">kitchen Available</label>
          <select name="kitchen" class="form-control" >
            <option selected>No</option>
            <option>Yes</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="mess">Mess Available</label>
          <select name="mess" class="form-control" >
            <option>Yes</option>
            <option selected>No</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="rent">Maximum Monthly Rent</label>
          <input type="number" class="form-control" name="rent" >
        </div>
      </div>
      

      <center><button type="submit" class="btn btn-primary" style="margin-top: 1%; width: 8%; height: 4%;">Search..</button></center>
    </form>
  </div>



  <%- include('../partials/footer.ejs') %>


</body>

</html>